<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.labomatic">

    <!-- PERMISSIONS -->
    <!-- Camera2 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <!-- MQTT -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Keep screen on -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Phone's vibrate feature -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".util.Initializer"
        android:allowBackup="true"
        android:icon="@drawable/labomatic_icon"
        android:label="@string/original_app_name"
        android:theme="@style/MaterialTheme">

        <activity android:name=".ui.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NavigationMenu"
            android:label="NavigationMenu"/>

        <activity
            android:name=".ui.LabomaticCamera.base.ManualAnalysisLandscapeActivity"
            android:label="ControllerAndCamera"/>

        <activity android:name=".ui.LabomaticCamera.base.AutomaticAnalysisActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LabomaticCamera.base.ManualAnalysisActivity"
            android:label="ManualAnalysis"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".data.remote.UploadImages"
            android:label="UploadImages" />

        <activity
            android:name=".ui.BarcodeReader.BarcodeCaptureActivity"
            android:label="BarcodeCapture" />
    </application>

</manifest>