<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.labomatic">

    <!-- Camera2 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <!-- MQTT -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Keep screen on -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Phone's vibrate feature -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Job scheduler needs this -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->

    <application
        android:name="ai.labomatic.util.Initializer"
        android:allowBackup="true"
        android:label="@string/original_app_name"
        android:icon="@drawable/labomatic_icon"
        android:theme="@style/MaterialTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LabomaticCamera.CreatePatient"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LabomaticCamera.RecoverAutomaticService">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LabomaticCamera.ControllerAndCamera">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ai.labomatic.ui.LabomaticCamera.DBManager"
            android:label="DBManager" />

        <activity
            android:name="ai.labomatic.ui.BarcodeReader.BarcodeCaptureActivity"
            android:label="BarcodeCapture">
        </activity>

        <activity
            android:name="ai.labomatic.ui.SettingsActivity"
            android:label="SettingsBarcode" />

    </application>

</manifest>